<% content_for :extra_js do %>
	Blog.show('<%= ENV['api_url'] %>', <%= params[:id] %>);
<% end %>

<section class="article-detail-image cover" style="background-image: url(<%= asset_path 'blog-1.jpg' %>)">
	<div class="container">
		<div class="article-detail-title">
			<h4></h4>
			<h1></h1>
		</div>
	</div>
</section>
<section class="relative">
	<div class="container">
		<div class="article-detail">
			<p></p>
			<%= image_tag '' %>
		</div>
	</div>
</section>