<% content_for :extra_js do %>
	Blog.init('<%= ENV['api_url'] %>');
<% end %>

<section class="relative bgi-blog cover c-white pt-xs-90 pb-xs-60 ptb-sm-130">
	<div class="container">
		<div class="row">
			<div class="col-xs-7 col-xs-offset-5 col-sm-4 col-sm-offset-6">
				<h1>BLOG</h1>
				<p>Llegó <b>Salada</b>App, la manera de recorrer la feria más grande de Latinoamérica desde tu dispositivo SmartPhone y Tablet.</p>
			</div>
		</div>
	</div>
</section>
<section class="relative bg-light-grey">
	<div class="container">
		<div id="articles"></div>
		<%= link_to '#', class: 'round-btn article-plus', id: 'getPage' do %>
			<span>+</span>
			<span><i class="fa fa-spinner fa-pulse"></i></span>
		<% end %>
	</div>
</section>

<article id="articleTemplate" class="article" style="display:none;">
	<%= link_to article_path('-') do %>
		<div class="article-image">
			<%= image_tag '' %>
		</div>
		<div class="article-container">
			<div class="article-slap">
				<span></span>
				<span></span>
			</div>
			<div class="article-body">
				<h3 class="article-title"></h3>
				<p class="article-text"></p>
				<span class="btn btn-primary">Ver más</span>
			</div>
		</div>
	<% end %>
</article>