<% content_for :extra_js do %>
	var params = JSON.parse('<%= cookies[:reset_password].html_safe rescue 'false' %>');
	if (!params)
		window.location.href = '/';
	else
		$('#reset-password-form').validate({
			submitHandler: function(form) {
				Utils.loader();
				$.ajax({
					type: 'PUT',
					url: '<%= ENV['api_url'] %>/auth/password',
					data: JSON.stringify({
						password: form.password.value,
						password_confirmation: form.password_confirmation.value
					}),
					contentType: 'application/json',
					headers: (function() {
						var headers = {	'token-type': 'Bearer' };
						$.each(params, function(key, value) {
							var name = { client_id: 'client', uid: 'uid', token: 'access_token' }[key];
							headers[name] = value;
						});
						return headers;
					})()
				})
				.done(function(response) {
					alert(response.message);
				})
				.fail(function() {
					alert('Ocurrió un error, intentalo nuevamente mas tarde');
				})
				.always(function() {
					Utils.loader().hide();
					window.location.href = '/';
				});
			},
			rules: {
				password: 'required',
				password_confirmation: {
					equalTo: '#password'
				}
			}
		})
<% end %>

<section class="reset-password">
	<div class="container">
		<h1 class="reset-password-title">Recuperar password</h1>
		<form id="reset-password-form">
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control" placeholder="Nuevo password">
			</div>
			<div class="form-group">
				<input type="password" id="password_confirmation" name="password_confirmation" class="form-control" placeholder="Confirmar password">
			</div>
			<div class="text-center">
				<button type="submit" class="btn btn-default">Enviar</button>
			</div>
		</form>
	</div>
</section>
