<header>
	<div class="container">
		<div class="brand">
			<%= link_to root_path do %>
				<%= image_tag 'saladaapp_pages_logo.png' %>
			<% end %>
		</div>
		<nav class="app-nav">
			<div class="vertical-align h-xs-40">
				<div class="middle">
					<%= render 'layouts/nav_pages_list' %>
				</div>
			</div>
		</nav>
		<%= link_to '#', class: 'mobile-nav-trigger' do %>
			<i class="fa fa-bars" aria-hidden="true"></i>
		<% end %>
	</div>
</header>